.bio-header {
    margin-bottom: 24px;
}

.bio-title {
    font-size: 40px;
    color: $third-text-color;
}

.subtitle {
    color: $secondary-text-color;
    font-size: 20px;
    font-style: italic;
    line-height: 36px;
}

.biography {
    font-size: 16px;
}

.channels {
    padding-top: 24px;
    margin: 24px;
    font-size: 100%;
    vertical-align: baseline;
    
    svg {
        width: 32px;
        height: 32px;
        margin: 0 2%;
    }
}
