
@import './colors.scss';
@import './fonts.scss';
@import './layouts.scss';

@import './about.scss';
@import './contact.scss';
@import './experiences.scss';
@import './navbar.scss';
@import './projects.scss';
@import './title.scss';

#root {
    height: 100vh;
}

*, :after, :before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    -webkit-font-smoothing: antialiased;
    background-color: $background-color;
    color: $primary-text-color;
    font-family: $default-font;
    margin: 0;
    font-size: 20px;
}

a {
    border-bottom: none;
    color: $primary-text-color; 
    text-decoration: none;
    
    &:hover {
        border-bottom: 1px solid $secondary-text-color;
        color: $secondary-text-color;
        cursor: pointer;
    }
}
