@import './colors.scss';
@import './fonts.scss';
@import './layouts.scss';
@import './navbar.scss';

#root {
    height: 100vh;
}

body {
    font-family: $default-font;
    -webkit-font-smoothing: antialiased;
    color: $white;
    background-color: $blue-primary;
}

a {
    color: $white; 
    border-bottom: none;
    
    &:hover {
        border-bottom: 1px solid $grey;
        color: $grey;
        cursor: pointer;
    }
}
