$off-white: #f6f6f6;
$white: #ffffff;
$grey: #555;

$background-color: #333D79FF;
$secondary-background-color: $off-white;

$primary-text-color: #FAEBEFFF;
$secondary-text-color: #FFD662FF;

$experience-dark-background: #2DA8D8FF;
