$off-white: #f6f6f6;
$white: #ffffff;
$grey: #555;

$background-color: #2A2B2DFF;
$secondary-background-color: $off-white;

$primary-text-color: #B3C7D6FF;
$secondary-text-color: #D9B48FFF;

$experience-dark-background: #2DA8D8FF;
