$off-white: #f6f6f6;
$white: #ffffff;
$grey: #555;

$background-color: #2A2B2DFF;
$secondary-background-color: $off-white;

$primary-text-color: $white;
$secondary-text-color: #2DA8D8FF;;
$third-text-color: #EEA47FFF;
