.experience {
    
    .job-grid {
        display: grid;
        grid-row-gap: 48px;
    }
    
    .job-experience {
        display: grid;
        grid-template-columns: 1fr 3fr;
        grid-column-gap: 24px;
        
        .job-logo {
            background-color: $off-white;
            height: 225px;
            border-radius: 20%;
            display:flex;
            align-items:center;
            justify-content:center;
            
            &.dark {
                background-color: $experience-dark-background;
            }
            
            img {
                width: 200px;
            }
        }
        
        .job-info {
            display: grid;
            grid-row-gap: 8px;
            
            .job-company {                
                line-height: 1.45;
                font-size: 28px;
                font-weight: bolder;
                
                a {
                    color: $secondary-text-color;
                }
            }
            
            .job-role {
                color: $primary-text-color;
                font-weight: bolder;
            }
            
            .job-location {
                font-weight: bolder;
            }
            
            .job-company-description {
                font-size: 18px;;
                font-style: italic;
            }
            
            .job-description {;
                font-size: 16px;;
                line-height: 1.8;
            }
        }
    }
}

.experience-company {
    span {
        font-size: 3rem;
        letter-spacing: 0.1em;
        line-height: 1.5;
    }
    
    img {
        height: 50px;
        width: auto;
    }
}

.experience-job-title {
    font-size: 24px;
    color: $secondary-text-color;
}

.experience-code-tag {
    svg {
        width: 1.5rem;
        height: 1.5rem;
    }
}
