.experience-company {
    span {
        font-size: 3rem;
        letter-spacing: 0.1em;
        line-height: 1.5;
    }
    
    img {
        height: 50px;
        width: auto;
    }
}

.experience-job-title {
    font-size: 24px;
    color: $primary-pink;
}

.experience-code-tag {
    svg {
        width: 1.5rem;
        height: 1.5rem;
    }
}
