.flex {
    display: flex;
}

.space-between {
    @extend .flex;
    justify-content: space-between;
}

.aligned {
    @extend .flex;
    align-items: center;
}

.container {
    max-width: 1650px;
    margin: auto;
}

.page-header {
    font-size: 32px;
}

.section {
    margin-top: 24px;
    padding: 24px;
}

.article {
    max-width: 900px;
    margin: 0 auto;
}

.centered {
    text-align: center;
}
