.flex {
    display: flex;
}

.space-between {
    @extend .flex;
    justify-content: space-between;
}

.aligned {
    @extend .flex;
    align-items: center;
}

.container {
    max-width: 1650px;
    margin: auto;
}

.page-header {
    .ant-page-header-heading-title,
    .ant-page-header-back-button {
        font-size: 32px;
        color: $white;
    }
}

.section {
    margin-top: 24px;
    padding: 24px;
}
