.nav-bar {
    background-color: $background-color;
    height: 80px;
    padding: 0 36px 0;
    position: fixed;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 8px 6px -6px $background-color;
}

.name {
    font-size: 28px;
    letter-spacing: 0.1em;
}

.nav-overlay {
    align-items: center;
    background-image: linear-gradient(to right, $background-color, $background-color);
    display: flex;
    height: 100vh;
    justify-content: center;
    left: 0;
    position: fixed;
    top: 0;
    transform: translate3d(0, -100%, 0);
    transition: 0.4s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    width: 100%;
    z-index: 999;
}

.nav-overlay.open {
    @extend .nav-overlay;
    transform: translate3d(0, 0, 0);
}

.nav-overlay-links {
    text-align: center;
    color: $secondary-text-color;
    
    a {
        font-size: 4rem;
        letter-spacing: 0.1em;
        line-height: 2;
        text-decoration: none;
    }
    
}

.nav-spacer {
    height: 100px;
}

.nav-button {
    outline: none;
    span {
        background-color: $primary-text-color;
        &:before,
        &:after {
            background-color: $primary-text-color;
        }
    }
    
    &:hover {
        span {
            background-color: $secondary-text-color;
            &:before,
            &:after {
                background-color: $secondary-text-color;
            }
        }
    }
}
