a.project-link {
    svg {
        width: 16px;
        height: 16px;
    }
    
    &:hover {
        border-bottom: none;
        color: $secondary-text-color !important;
        cursor: pointer;
    }
}
