@use './colors.scss' as *;
@use './layouts.scss' as *;

.projects {
    
    .grid {
        display: grid;
        grid-column-gap: 24px;
        grid-row-gap: 24px;
        grid-template-columns: repeat(3, minmax(0, 1fr));    
    }
    
    .tile {
        border: 1px solid $primary-text-color;
        box-shadow: 0 2px 4px 0 $primary-text-color, 0 3px 4px 0 $primary-text-color;
        padding: 12px;
        height: 360px;
        display: grid;
        grid-template-rows: 1fr 3fr 1fr;
        
        .tile-header {
            padding: 8px;
            display: grid;
            grid-template-columns: 4fr 1fr;
            
            .project-icon {
                svg {
                    color: $secondary-text-color;
                    width: 48px;
                    height: 48px;
                }
            }
            
            .project-links {
                @extend .space-between;
                svg {
                    width: 20px;
                    height: 20px;
                }
                
                a {
                    color: $primary-text-color;
                    &:hover {
                        color: $secondary-text-color;
                        border-bottom: $secondary-text-color;
                    }
                }
            }
        }
        
        .project-body {
            .project-title {
                font-size: 24px;
                color: $secondary-text-color;
            }
            
            .project-description {
                padding: 12px 0;
                line-height: 1.25;
                color: $primary-text-color;
                font-size: 16px;
            }
        }
        
        .project-footer {
            @extend .aligned;
            
            .technology {
                margin: 4px;
                color: $secondary-text-color;;
                font-size: 12px;
                font-style: italic;
                font-weight: 600;
            }
        }
    }
}
