.projects {
    
    .grid {
        display: grid;
        grid-column-gap: 24px;
        grid-row-gap: 24px;
        grid-template-columns: repeat(3, minmax(0, 1fr));    
    }
    
    .tile {
        background-color: $secondary-background-color;
        padding: 12px;
        height: 360px;
        display: grid;
        grid-template-rows: 1fr 3fr 1fr;
        
        .tile-header {
            padding: 8px;
            display: grid;
            grid-template-columns: 4fr 1fr;
            
            .project-icon {
                svg {
                    color: $secondary-text-color;
                    width: 48px;
                    height: 48px;
                }
            }
            
            .project-links {
                @extend .space-between;
                svg {
                    width: 20px;
                    height: 20px;
                }
                
                a {
                    color: $secondary-text-color;
                    &:hover {
                        color: $third-text-color;
                        border-bottom: $third-text-color;
                    }
                }
            }
        }
        
        .project-body {
            .project-title {
                font-size: 20px;
                color: $secondary-text-color;
            }
            
            .project-description {
                color: $grey;
                font-size: 16px;
            }
        }
        
        .project-footer {
            @extend .aligned;
            
            .technology {
                margin: 4px;
                color: $third-text-color;
                font-size: 12px;
                font-style: italic;
                font-weight: 600;
            }
        }
    }
}
