@use './colors.scss' as *;

.title-wrapper {
    width: 100%; 
    text-align: center; 
    border-bottom: 1px solid $secondary-text-color; 
    line-height: 0.1em;
    margin: 12px 0 48px; 
    font-size: 36px;
    letter-spacing: 0.1em;
}

.title {
    display: inline;
    color: $secondary-text-color;
    
    background: $background-color; 
    padding:0 12px; 
}
