body {
    background-color: $background-color !important;
    font-family: $font-family !important;
    color: white !important;
}

.left-sider-container {
    overflow: auto;
    height: 100vh;
    position: fixed;
    left: 0px;
    width: 150px;
    font-family: $font-family-secondary
}

.main-content-container {
    padding: 0 150px;
}

.right-sider-container {
    overflow: auto;
    height: 100vh;
    position: fixed;
    right: 0px;
    width: 150px;
}

.ant-btn.button {
    color: $secondary-font-color;
    border-color: $secondary-font-color;
    margin: 0 13px;
    letter-spacing: 1.2px;
    font-weight: 200;
}