
$background-color:  rgb(10, 25, 47);

$primary-font-color: #FFF;
$secondary-font-color: rgb(100, 255, 218);
$third-font-color:rgb(204, 214, 246);

$font-family: Calibre, "San Francisco", "SF Pro Text", -apple-system, system-ui, BlinkMacSystemFont, Roboto, "Helvetica Neue", "Segoe UI", Arial, sans-serif;
$font-family-secondary: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", "Lucida Console", Monaco, monospace;